{% extends 'usuarios/base.html'%}
{% block conteudo %}
<div class="conteiner">
    <h1>Usuários Cadastrados</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Idade</th>
        </tr>
        {% for usuarios in usuarios%}
        <tr>
            <td>{{usuarios.id_usuario}}</td>
            <td>{{usuarios.nome}}</td>
            <td>{{usuarios.idade}}</td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}